{{> header title='전체보기ㅣ라인프렌즈 - LINE FRIENDS' cssName='indexmenu'}}

<div class="hp-container">
	<div class="header-search">
		<img src="img/01.jpg">
	</div>
</div>
<div class="menu-main">
	<div class="menu-bar">
		<div>
			<div class="bar-category">
				상품 카테고리
			</div>
			<br>
		</div><br>
		<div>전체보기</div>
		<div>베스트</div>
		<div>세일</div>
		<div>디자인문구</div>
		<div>의류/악세서리</div>
		<div>키즈</div>
		<div>키친</div>
		<div>브랜드</div>
		<div>홈인테리어</div>
		<div>토이</div>
		<br><br>
		<div>
			<div class="bar-category">
				캐릭터
			</div>
			<br>
		</div><br>
		<div>브라운 Brown</div>
		<div>초코 Choco</div>
		<div>코니 Cony</div>
		<div>문 Moon</div>
		<div>제임스 James</div>
		<div>샐리 Sally</div>
		<div>레너드 Leonard</div>
		<div>에드워드 Edward</div>
		<div>제시카 Jessica</div>
		<div>보스 Boss</div>
	</div>
	<div class="menu-main1">
		<div class="search-bar">
			<div class="menu-main2">
				총 1024개의 상품이 있습니다
			</div>
			<div class="search-bar1">
				<select class="form-control">
					<option>인기순</option>
					<option>평점순</option>
					<option>최신순</option>
					<option>낮은가격순</option>
					<option>높은가격순</option>
				</select>
			</div>
		</div>
		<div class="menu-img-box">
			<div class="menu-main-img">
				<div><img src="img/a1.jpg"></div>
				<div>브라운</div>
				<div>USB 가습기</div>
				<div>39,900원</div>
			</div>
		</div>
		<div class="menu-img-box">
			<div class="menu-main-img">
				<div><img src="img/a2.jpg"></div>
				<div>[아이폰 7 Plus] 핑크 야구점퍼</div>
				<div>메가 초코 실리콘 케이스</div>
				<div>30,000원</div>
			</div>
		</div>
		<div class="menu-img-box">
			<div class="menu-main-img">
				<div><img src="img/a3.jpg"></div>
				<div>[아이폰 7 Plus]</div>
				<div>메가 샐리 실리콘 케이스</div>
				<div>30,000원</div>
			</div>
		</div><br>
		<div class="menu-img-box">
			<div class="menu-main-img">
				<div><img src="img/a4.jpg"></div>
				<div>[아이폰 7 Plus]</div>
				<div>메가 코니 실리콘 케이스</div>
				<div>30,000원</div>
			</div>
		</div>
		<div class="menu-img-box">
			<div class="menu-main-img">
				<div><img src="img/a5.jpg"></div>
				<div>[아이폰 7 Plus]</div>
				<div>메가 브라운 실리콘 케이스</div>
				<div>30,000원</div>
			</div>
		</div>
		<div class="menu-img-box">
			<div class="menu-main-img">
				<div><img src="img/a6.jpg"></div>
				<div>[아이폰 7 Plus] 핑크 선글라스</div>
				<div>초코 실리콘 케이스</div>
				<div>25,000원</div>
			</div>
		</div><br>
		<div class="menu-img-box">
			<div class="menu-main-img">
				<div><img src="img/a7.jpg"></div>
				<div>[아이폰 7 Plus]</div>
				<div>샐리 실리콘 케이스</div>
				<div>25,000원</div>
			</div>
		</div>
		<div class="menu-img-box">
			<div class="menu-main-img">
				<div><img src="img/a8.jpg"></div>
				<div>[아이폰 7 Plus]</div>
				<div>코니 실리콘 케이스</div>
				<div>25,000원</div>
			</div>
		</div>
		<div class="menu-img-box">
			<div class="menu-main-img">
				<div><img src="img/a9.jpg"></div>
				<div>[아이폰 7 Plus]</div>
				<div>브라운 실리콘 케이스</div>
				<div>25,000원</div>
			</div>
		</div><br>
		<div class="menu-img-box">
			<div class="menu-main-img">
				<div><img src="img/a10.jpg"></div>
				<div>[아이폰 7] 핑크 야구점퍼</div>
				<div>메가 초코 실리콘 케이스</div>
				<div>28,000원</div>
			</div>
		</div>
		<div class="menu-img-box">
			<div class="menu-main-img">
				<div><img src="img/a11.jpg"></div>
				<div>[아이폰 7]</div>
				<div>메가 샐리 실리콘 케이스</div>
				<div>28,000원</div>
			</div>
		</div>
		<div class="menu-img-box">
			<div class="menu-main-img">
				<div><img src="img/a12.jpg"></div>
				<div>[아이폰 7]</div>
				<div>메가 코니 실리콘 케이스</div>
				<div>28,000원</div>
			</div>
		</div>
		<div class="bar-number">
			<nav class="woocommerce-pagination desktop-only">
				<span class="page-numbers current">1</span>
				<a class="page-numbers">2</a>
				<a class="page-numbers">3</a>
				<a class="page-numbers">4</a>
				<span class="page-numbers dots">…</span>
				<a class="page-numbers">84</a>
				<a class="page-numbers">85</a>
				<a class="page-numbers">86</a>
				<a class="next page-numbers">»</a>
			</nav>
		</div>
	</div>
</div>

{{> footer jsName='indexmenu'}}
