{{> header title='라인프렌즈 - LINE FRIENDS - Home' cssName='main'}}

	<div class="main-image">
		<div class="cycle-slideshow"
		data-cycle-fx="scrollHorz"
		data-cycle-pause-on-heover="true"
		data-cycle-speed="200"
		>
			<img src="img/main0.jpg">
			<img src="img/main1.jpg">
			<img src="img/main2.jpg">
			<img src="img/main3.jpg">
		</div>
	</div>
	<div>
		<section class="img-padding">
			<div class="main-images">
				<div class="main-item-img"><img src="img/55.jpg"></div>
				<div class="main-item-img"><img src="img/66.jpg"></div>
			</div>
			<div class="main-images1">
				<div class="main-item-img1"><img src="img/77.jpg"></div>
				<div class="main-item-img1"><img src="img/88.jpg"></div>
				<div class="main-item-img1"><img src="img/99.jpg"></div>
				<div class="main-item-img1"><img src="img/111.jpg"></div>
			</div>
		</section>
		<section class="img-padding">
			<div class="new-thing">신상품</div>
			<div class="main-images2">
				<div class="main-item">
					<div class="main-item-img2"><img src="img/222.jpg"></div>
					<div>LAMY X LINE FRIENDS CHOCO</div>
					<div>리미티드 에디션</div>
					<div>59,000원</div>
				</div>
				<div class="main-item">
					<div class="main-item-img2"><img src="img/333.jpg"></div>
					<div>[아이폰 6/6s] 핑크 야구점퍼</div>
					<div>메가 초코 실리콘 케이스</div>
					<div>19,600원</div>
				</div>
				<div class="main-item">
					<div class="main-item-img2"><img src="img/444.jpg"></div>
					<div>[아이폰 6/6s] 핑크 선글라스</div>
					<div>초코 실리콘 케이스</div>
					<div>16,100원</div>
				</div>
				<div class="main-item">
					<div class="main-item-img2"><img src="img/555.jpg"></div>
					<div>[아이폰 6/6s] 파인애플 선글라스</div>
					<div>초코 실리콘 케이스</div>
					<div>16,100원</div>
				</div>
			</div>
			<div class="main-images2">
				<div class="main-item">
					<div class="main-item-img2"><img src="img/666.jpg"></div>
					<div>[아이폰 6/6s Plus] 블랙 도트 리본</div>
					<div>초코 실리콘 케이스</div>
					<div>17,500원</div>
				</div>
				<div class="main-item">
					<div class="main-item-img2"><img src="img/777.jpg"></div>
					<div>라인프렌즈</div>
					<div>티 콜렉션</div>
					<div>49,000원</div>
				</div>
				<div class="main-item">
					<div class="main-item-img2"><img src="img/888.jpg"></div>
					<div>브라운</div>
					<div>어린잎 녹차</div>
					<div>15,000원</div>
				</div>
				<div class="main-item">
					<div class="main-item-img2"><img src="img/999.jpg"></div>
					<div>코니</div>
					<div>국화차</div>
					<div>15,000원</div>
				</div>
			</div>
			<div class="main-last-img"><img src="img/000.jpg"></div>
		</section>
		<section class="img-padding">
			<div class="middle-img1">
				<div class="main-item-img3"><img src="img/1111.jpg"></div>
				<div class="main-item-img3"><img src="img/2222.jpg"></div>
			</div>
		</section>
		<section class="img-padding">
			<div class="best-thing">베스트 상품</div>
			<div class="main-images3">
				<div class="main-item1">
					<div class="main-item-img4"><img src="img/3333.jpg"></div>
					<div>초코 캐릭터 밴드 시즌2</div>
					<div>4,000원</div>
				</div>
				<div class="main-item1">
					<div class="main-item-img4"><img src="img/4444.jpg"></div>
					<div>워너비 다이노 브라운 인형 (45cm)</div>
					<div>68,000원</div>
				</div>
				<div class="main-item1">
					<div class="main-item-img4"><img src="img/5555.jpg"></div>
					<div>샐리 소프트 쿠션 (42cm)</div>
					<div>36,000원</div>
				</div>
				<div class="main-item1">
					<div class="main-item-img4"><img src="img/6666.jpg"></div>
					<div>사우나 브라운 손난로인형</div>
					<div>9,500원</div>
				</div>
			</div>
			<div class="main-images3">
				<div class="main-item1">
					<div class="main-item-img4"><img src="img/7777.jpg"></div>
					<div>브라운 후리스 베이비 스노우슈트</div>
					<div>39,000원</div>
				</div>
				<div class="main-item1">
					<div class="main-item-img4"><img src="img/8888.jpg"></div>
					<div>베이직 브라운 메시지카드</div>
					<div>1,000원</div>
				</div>
				<div class="main-item1">
					<div class="main-item-img4"><img src="img/9999.jpg"></div>
					<div>그레이 램스울 가디건</div>
					<div>62,000원</div>
				</div>
				<div class="main-item1">
					<div class="main-item-img4"><img src="img/0000.jpg"></div>
					<div>2017 라인프렌즈 탁상캘린더</div>
					<div>8,500원</div>
				</div>
			</div>
			<div class="main-last-img1"><img src="img/001.jpg"></div>
		</section>
		<section class="img-padding">
			<div class="middle-img2">
				<div class="main-item-img5"><img src="img/11111.jpg"></div>
				<div class="main-item-img5"><img src="img/22222.jpg"></div>
			</div>
		</section>
		<section class="img-padding">
			<div class="sale-thing">세일상품</div>
			<div class="main-images4">
				<div class="main-item2">
					<div class="main-item-img6"><img src="img/33333.jpg"></div>
					<div>문 쿠션 (30cm)</div>
					<div>9,900원</div>
				</div>
				<div class="main-item2">
					<div class="main-item-img6"><img src="img/44444.jpg"></div>
					<div>브라운 이불커버</div>
					<div>70,000원</div>
				</div>
				<div class="main-item2">
					<div class="main-item-img6"><img src="img/55555.jpg"></div>
					<div>코니 이불커버</div>
					<div>70,000원</div>
				</div>
				<div class="main-item2">
					<div class="main-item-img6"><img src="img/66666.jpg"></div>
					<div>레너드 바디 입체 스티커</div>
					<div>2,000원</div>
				</div>
			</div>
			<div class="main-images4">
				<div class="main-item2">
					<div class="main-item-img6"><img src="img/77777.jpg"></div>
					<div>브라운 쿠션 (30cm)</div>
					<div>9,900원</div>
				</div>
				<div class="main-item2">
					<div class="main-item-img6"><img src="img/88888.jpg"></div>
					<div>코니 쿠션 (30cm)</div>
					<div>9,900원</div>
				</div>
				<div class="main-item2">
					<div class="main-item-img6"><img src="img/99999.jpg"></div>
					<div>문 보드 마그넷</div>
					<div>5,000원</div>
				</div>
				<div class="main-item2">
					<div class="main-item-img6"><img src="img/00000.jpg"></div>
					<div>라인프렌즈 피규어 세트1</div>
					<div>12,000원</div>
				</div>
			</div>
			<div class="main-last-img2"><img src="img/002.jpg"></div>
			<div class="line-chars">
				<div class="main-last-img3"><img src="img/111111.jpg"></div>
			</div>
			<div class="line-chars1">
				<div class="main-last-img4"><img src="img/222222.jpg"></div>
				<div class="main-last-img4"><img src="img/333333.jpg"></div>
			</div>
			<div class="line-chars2">
				<div class="main-last-img5"><img src="img/444444.jpg"></div>
			</div>
		</section>
	</div>


</div>

{{> footer jsName='main'}}
