{{> header title='매장정보ㅣ 라인프렌즈 - LINE FRIENDS' cssName='linereport'}}

<div class="hp-container">
	<div class="report-img">
		<img src="img/linereport.jpg">
	</div>
</div>

<div class="report-store">
	<div class="report-store-name">
		플래그십 스토어 이태원점
		<div class="report-store-time">
			월~금 11:30 ~ 23:00<br>
			토~일 11:00 ~ 23:00<br>
			서울특별시 용산구 이태원로 200
		</div>
	</div>
	<div class="report-img1">
		<img src="img/linereport1.jpg">
	</div>
	<div class="report-img2">
		<img src="img/linereport2.jpg">
	</div>
	<div class="report-store-name">
		플래그십 스토어 가로수길점
		<div class="report-store-time">
			매일 10:30 ~ 22:00<br>
			서울특별시 강남구 도산대로13길 27
		</div>
	</div>
	<div class="report-img3">
		<img src="img/linereport3.jpg">
	</div>
	<div class="report-img4">
		<img src="img/linereport4.jpg">
	</div>
	<div class="report-store-name">
		플래그십 스토어 명동역점
		<div class="report-store-time">
			매일 10:00 ~ 23:00<br>
			서울특별시 중구 명동8나길 9
		</div>
	</div>
	<div class="report-img5">
		<img src="img/linereport5.jpg">
	</div>
</div>
<div class="map">
	<div class="report-map">
		<div class="report-img6">
			<div class="report-image"><img src="img/report11.jpg"></div>
		</div>
		<div class="report-img6">
			<div class="report-image"><img src="img/report12.jpg"></div>
		</div>
		<div class="report-img6">
			<div class="report-image"><img src="img/report13.jpg"></div>
		</div>
		<div class="report-img6">
			<div class="report-image"><img src="img/report14.jpg"></div>
		</div>
		<div class="report-img6">
			<div class="report-image"><img src="img/report15.jpg"></div>
		</div>
		<div class="report-img6">
			<div class="report-image"><img src="img/report16.jpg"></div>
		</div>
		<div class="report-img6">
			<div class="report-image"><img src="img/report17.jpg"></div>
		</div>
		<div class="report-img6">
			<div class="report-image"><img src="img/report18.jpg"></div>
		</div>
		<div class="report-img6">
			<div class="report-image"><img src="img/report19.jpg"></div>
		</div>
		<div class="report-img6">
			<div class="report-image"><img src="img/report20.jpg"></div>
		</div>
	</div>
</div>

{{> footer jsName='linereport'}}
