{{> header title='주문내역ㅣ라인프렌즈 - LINE FRIENDS' cssName='login'}}

<div class="hp-container">
	<div class="mypage">
		<div class="page-main-img">
			<img src="img/mypage1.jpg">
		</div>
		<div class="login">
			<div class="login-bar">로그인</div>
			<div class="login-menu">
				<div class="login-menu-img"><a href="https://nid.naver.com/nidlogin.login?url=http%3A%2F%2Fmail.naver.com%2F"><img src="img/mypage2.jpg"></a></div>
				<div class="login-menu-img"><a href="https://channel.line.naver.jp/dialog/oauth/weblogin?response_type=code&channelId=1429877364&redirectUrl=http%3A%2F%2Fstore.linefriends.com%2F"><img src="img/mypage3.jpg"></a></div>
			</div>
		</div>
	</div>
</div>

{{> footer jsName='login'}}
