<footer id="footer">
	<div class="footer-menu">
		<ul>
			<li>
				개인정보처리방침
			</li>
			<li>
				이용약관
			</li>
			<li>
				대량구매
			</li>
		</ul>
	</div>
	<div>
		<ul>
			<li>라인프렌즈 주식회사 대표이사: 김성훈<br>
				사업자등록번호: 726-87-00030  통신판매업신고번호: 2015-경기성남-0597<br>
				주소: 서울시 용산구 이태원로 200 라인프렌즈 5층
				<br><br>
				고객센터: linefriends@naver.com 1544-5921<br>
				반송주소: 서울 양천구 목동서로117 양천우체국 2층 라인프렌즈스토어
			</li>
			<br>
			<li>
				Copyright © LINE Friends All Rights Reserved
			</li>
		</ul>
	</div>
</footer>
<script src="plugins/requirejs/require.min.js"></script>
<script src="js/require.config.js"></script>
<script src="js/{{jsName}}.js"></script>
</body>
</html>
