<!DOCTYPE html>
<html lang="{{lang}}">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">

	<title>{{title}}</title>

	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="apple-touch-icon" href="apple-touch-icon.png">
	<link rel="stylesheet" href="plugins/normalize/normalize.css">
	<link rel="stylesheet" href="plugins/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="plugins/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="css/{{cssName}}.css">
	<script src="plugins/modernizr/modernizr-2.8.3.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
	<script src="http://malsup.github.com/jquery.cycle2.js"></script>

</head>
<body>

<div class="hp-container">
	<header id="main-bar">
		<div id="main-logo">
			<a href="index.html"><img src="img/logo.png" alt="라인프렌즈 – LINE FRIENDS STORE"></a>
		</div>
		<div id="main-menu">
			<ul id="nav">
				<li><a href="indexmenu.html">카테고리</a></li>
				<li><a href="indexmenumenu.html">캐릭터</a></li>
				<li><a href="linereport.html">매장정보</a></li>
				<li><a href="mypage.html">마이페이지</a></li>
				<li><a href="login.html">로그인</a></li>
			</ul>
			<ul id="search-box">
				<li id="search">
					<i class="fa fa-search"></i>
				</li>
				<div class="search-search" >
					<i id="iconn" class="fa fa-times" aria-hidden="true"></i>
					<input type="text" placeholder="상품 검색…">
				</div>
			</ul>
			<ul id="heart-shopping">
				<li><a href="heart.html"><i class="fa fa-heart-o"></i></a></li>
				<li><i class="fa fa-shopping-bag"></i></li>
			</ul>
		</div>


	</header>
